/* General setup */

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Martel", serif;
}

h1,
h2 {
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.2rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
}

p,
ol,
ul,
dl {
  font-size: 1.5rem;
}

p,
li,
dt,
dd {
  line-height: 1.5;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
  letter-spacing: 0.1rem;
  word-spacing: 0.5rem;
}

/* Layout */
header {
  text-align: center;
}

section {
  float: left;
  width: 50%;
}

section h2 + p {
  text-indent: 20px;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header,
section,
aside,
nav,
footer {
  padding: 20px;
}

/* header and footer */

header,
footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

a[href*="http"] {
  padding-right: 20px;
  background: url(https://img.icons8.com/metro/52/000000/external-link.png)
    no-repeat 100% 0;
  background-size: 16px 16px;
}

a:link {
  color: #a66;
  outline: none;
  text-decoration: underline;
}

a:visited {
  color: rgb(110, 60, 60);
}

a:focus,
a:hover {
  text-decoration: none;
  color: red;
}

a:active {
  color: white;
  background-color: red;
}

ul {
  list-style: none;
}

ul li {
  padding-left: 2rem;
  background: url(star.svg) no-repeat 0 0/1.6rem 1.6rem;
}

nav ul li {
  display: block;
  background: none;
  margin-bottom: 1rem;
}

nav ul li:last-child {
  padding-bottom: 0;
}

nav a:link,
nav a:visited,
nav a:focus {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  width: 100%;
  text-align: center;
  border: 2px solid #a66;
  color: #a66;
}

nav a:hover {
  color: white;
  background-color: #a66;
}

nav a:active {
  color: black;
  font-weight: bold;
}
